<%- include("partials/header.ejs") -%> 


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" >
    <div class="hero-container" data-aos="fade-in">
      <h1>Hi,I'm Nithish</h1>
      <h2>call me an <span class="typed" data-typed-items="Game Developer,App Developer,Web Developer,data scintist,ai and ml engineer,tech inventor, pogrammer,ethical hacker"></span></h2>
      <h2>wanna meet iron man ??</h2>
      <a href='mailto:rnithish248@gmail.com' class="btn-flip" data-back="  contact me  " data-front="  click here  "></a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>pleasure to see you here i can turn your idea to a proper working project preapere an paper ill turn it into a paper plane</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Developer, programmer, innovator.</h3>
            <p class="fst-italic">
              best foods are from india, best learning is from udemy, best series are from netflix, best serch is from google, best projects are from me
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>2 june 2004</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>https://portfolio-website248.herokuapp.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 966 3614 603</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Bengaluru, india</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>17</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>inspiration:</strong> <span>iron man</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>rnithish248@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>working as:</strong> <span>entrepreneur</span></li>
                </ul>
              </div>
            </div>
            <p>
              i make games from both unreal engine and unity engine can work with both unreal c++, unity c#. develop apps from dart(flutter). develop websites using html, css, javascript use frameworks like node.js, react.js, bootsrap. i use one of the most powerful laungage python for ai, ml and data science. i work with Unreal Engine4, Unity Editor, Epic Games Launcher, Visual Studio, Visual Studio Code, Android Studio, Intelij Idea, EasyEda, Aurdino. use both windows and linux.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>I have developed From a puzzle game to battle royal game, from button click app to chat and e commerse app, from personal site to ecommerse and personal blog sites, from distance measuring robot to complex drones and robots, from wifi hacking to hacking into systems, developed many projects in machine learning, artificial intelligence and data scince.
          </p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">Game Development<i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">App Development<i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">web development<i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Tech Engineering<i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">AI and ML<i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Data Science<i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Hacking<i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              </div>
              

              <div class="progress">
                <span class="skill">video,photo and ux-ui design<i class="val">40%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>I have developed From a puzzle game to battle royal game, from button click app to chat and e commerse app, from personal site to ecommerse and personal blog sites, from distance measuring robot to complex drones and robots, from wifi hacking to hacking into systems, developed many projects in machine learning, artificial intelligence and data scince.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Nithish</h4>
              <p><em>i am an Innovative and task-driven Developer and programmer started cooding when i was 14 with experience in developing many games apps websites ai's and many other things.</em></p>
              <ul>
                <li>Bengaluru,India</li>
                <li>+91 966 3614 603</li>
                <li>rnithish248@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>
                Unreal Engine C++ Developer: Learn C++ and Make Video Games
                </h4>
            </div>
            <div class="resume-item">
              <h4>Flutter & Dart - The Complete Guide</h4>
          </div>

          <div class="resume-item">
            <h4>The Complete 2022 Web Development Bootcamp</h4>
        </div>

        <div class="resume-item">
          <h4>100 Days of Code: The Complete Python Pro Bootcamp for 2022</h4>
      </div>
      <div class="resume-item">
        <h4>Complete C# Unity Game Developer 3D</h4>
    </div>

    <div class="resume-item">
      <h4>Learn Ethical Hacking From Scratch</h4>
  </div>

  <h3 class="resume-title">Hobbies</h3>
  <div class="resume-item">
    <h4>Listning Music</h4>
  </div>
  <div class="resume-item">
    <h4>Coocking</h4>
  </div>
  <div class="resume-item">
    <h4>Video Games</h4>
  </div>
  <div class="resume-item">
    <h4>Watching Bussiness And Startup News, Netflix, YouTube</h4>
  </div>    
  </div>

          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title" >Experience</h3>
            <div class="resume-item">
              <h4>Game Development</h4>
              <ul>
                <li>Battle Royal Game</li>
                <li>Endless Shooter</li>
                <li>Zombie Diries</li>
                <li>Battle Tank</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>App Development</h4>
              <ul>
                <li>E Commerse app</li>
                <li>chatting App</li>
                <li>Expense Tracker</li>
                <li>Meals App</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Web Development</h4>
              <ul>
                <li>E Commerse WebSite</li>
                <li>Blog Website</li>
                <li>Diry Website</li>
                <li>Music Streaming Website</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Tech Engineering</h4>
              <ul>
                <li>Delivary and Farming Drone</li>
                <li>Voice Control Robot</li>
                <li>Food serving Robot</li>
                <li>Distance Measuring Robot</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Ai &AMP; Ml</h4>
              <ul>
                <li>Jarvis Desktop Assistant</li>
                <li>Data Entry Job Automation</li>
                <li>Instagram Follower bot</li>
                <li>Chat Bot</li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>here are my projects that i have been working on from when i started learning to till now.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".GAMEDEVELOPMENT">Game Development</li>
              <li data-filter=".APPDEVELOPMENT">App Development</li>
              <li data-filter=".WEBDEVELOPMENT">Web Development</li>
              <li data-filter=".AIANDML">AI and Ml</li>
              <li data-filter=".DATASCIENCE">Data Science</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container"  data-aos="fade-up" data-aos-delay="100">
          <%projects.forEach(function (project){%> 

          <div class="col-lg-4 col-md-6 portfolio-item <%= project.category.replace(" ","").replace(" ","")%>" style="background-image: url(<%= project.imageurls[0]%><%= project.imageurls[0]%>)">
            <div class="content-bx">
                <div class="content">
                    <h3><%= project.title %> </h3>
                    <p><%= project.description[0].slice(0,100) %>...<br><br><strong>technology:- <%= project.technology %></strong></p>

                    <a class="cta" href="projects/<%= project.title %>">
                      <span>More</span>
                      <span>
                        <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                            <path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                            <path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
                          </g>
                        </svg>
                      </span> 
                    </a>
                </div>
            </div>
          </div>
        <% }); %> 
      </div>
    </section><!-- End Portfolio Section -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>wanna say hi or talk to me my inbox is open please leave your message ill get back to you as soon as posssible.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>near railway gate dhanalakshmi rice mill road ,gauribidinur 561-208</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>rnithish248@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 966 3614 603</p>
              </div>
              <div style="width: 100%"><iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=en&amp;q=spicyvilla,gauribidinur+(Nithish)&amp;t=&amp;z=8&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/sport-gps/">swimming watch</a></iframe></div>
              
            </div>
          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="/send" method="post" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <%- include("partials/footer.ejs") -%> 
